@font-face {
    font-family: 'Flux Regular';
    src: url("../../assets/fonts/flux_regular.otf")
}

.main {
    min-height: 600px;
}

h1 {
    font-family: 'Flux Regular';
    display: inline;
    font-size: 3em;
    background: -webkit-linear-gradient(white, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#python-logo {
    width: 10%
}

.intro {
    height: 45vh;
    line-height: .6em;
}

.code-editor {
    background: #121b24;
    color: #cccccc;
    border-radius: .25em!important;
    box-shadow: 0 4px 8px 0 navy, 0 6px 20px 0 orange;
}

.intro-text {
    color: rgb(1, 139, 1);
    font-size: .85em;
}

.pycode {
    font-size: .85em;
}

.function-dec {
    color: rgb(35, 35, 165);
}

.keyword {
    color: gold;
}

.argument {
    color: skyblue
}

.pystring {
    color: brown;
}

.indent-code {
    margin-left: 2em;
    margin-top: 0
}

.ide-text {
    color: rgb(1, 139, 1);
}

#start-bar {
    background: linear-gradient(to bottom right, #999999, white);
    bottom: 40px;
}

#start-link {
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    color: teal;
    font-size: 2em;
    font-family: 'Flux Regular';
    text-decoration: none;
}

#start-link:hover {
    color: #1e2933;
    background-color: teal
}

#start-link:active {
    background-color: rgb(1, 100, 100)
}
